:root {
  --RedPokedex-- :rgb(211, 7, 7);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.GlobalContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.pokemonContainer{
  margin: 5px 5px;
  text-align: center;
  border: solid black 1px;
  border-radius: 8px;
  overflow: hidden;
}

.pokemonTitle{
  margin: 0;
  background-color: var(--RedPokedex--);
  color: white;
  height: 20%;
}


.modalBackground{
  display: block;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.705);
}

.modalContant{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  min-width: 600px;
  background-color: var(--RedPokedex--);
  padding-bottom: 26px;
}



.headerModalPokedex{
  width: 100%;
  padding: 10px;
  height: 26px;
}

.headerModalPokedex>button{
  margin-left: 95%;
  border: transparent;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
}

.containerPokemonDisplay{
  text-align: center;
  width: 45%;
  margin-left: 26px;
  border: solid black 1px;
  background-color: bisque;
  border-radius: 10px 0px 0px 10px;
  z-index: 2;
}

.containerPokemonDisplay>p{
  margin: 0;
}

.containerPokemonType{
  width: 45%;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  border: solid black 1px;
}

.containerPokemonType>img{
  height: 15px;
}

