:root {
  --RedPokedex-- :rgb(211, 7, 7);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.GlobalContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.pokemonContainer{
  margin: 5px 5px;
  text-align: center;
  border: solid black 1px;
  border-radius: 8px;
  overflow: hidden;
}

.pokemonTitle{
  margin: 0;
  background-color: var(--RedPokedex--);
  color: white;
  height: 20%;
}


.modalBackground{
  display: block;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.705);
}

.modalContant{
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 65px;
  margin-left: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  min-width: 600px;
  background-color: var(--RedPokedex--);
  padding-bottom: 26px;
  border-radius: 150px 20px 20px 150px;
}



.headerModalPokedex{
  width: 100%;
  padding: 10px;
  height: 26px;
}

.headerModalPokedex>button{
  margin: 10px 95%;
  border: transparent;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
}


.rondBlanc{
  background-color: white;
  height: 250px;
  width: 200px;
  position: absolute;
  top: 210px;
  left: 105px;
  border-radius: 100%;
  border: solid black 1px;
  z-index: 1;
}

.containerPokemonDisplay,.containerPokemonType,.containerEncounter{
  height: 80%;
}

.containerPokemonDisplay{
  text-align: center;
  width: 35%;
  margin-left: 65px;
  border: solid black 1px;
  background-color: bisque;
  border-radius: 20% 0px 0px 20%;
  z-index: 2;
}

.containerPokemonDisplay>img{
  height: 80%;
  margin: 20px 0px 0px 20px;
}

.containerPokemonDisplay>p{
  margin: 0;
}

.containerPokemonType{
  width: 22%;
  background-color: white;
  border: solid black 1px;
}

.containerPokemonType>img{
  height: 20px;
  margin: 10px 5px 0px 5px;
}

.containerEncounter>h4,.titleTypes{
  margin: 5px 0px 0px 2px;
}

.titleAbilities{
  margin: 50px 0px 0px 2px;
}

.containerEncounter>ul,.containerPokemonType>ul{
  padding-left: 8px;
  margin-top: 5px;
  margin-bottom: 0;
  list-style: none;
}

.containerEncounter>ul>li,.containerPokemonType>ul>li{
  font-size: 20px;
}

.containerEncounter{
  width: 35%;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  border: solid black 1px;
  overflow: auto;
}




